{% extends "base.html" %}

{% block announce %}
    <p class="banner"> 👍️ RapidOCR 发布 v3.8.0 → <a href="https://rapidai.github.io/RapidOCRDocs/latest/changelog/v3.8.0/" target="_blank">link</a></p>
{% endblock %}

{% block outdated %}
You're not viewing the latest version.
<a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
</a>
{% endblock %}

{% block extrahead %}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?a08320fa65511ac1d5ec1d683788131b";
        hm.async = true;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endblock %}
