{% if page.meta.comments %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<!-- Insert generated snippet here -->
{% set giscus_language = {"zh": "zh-CN", "en": "en"}.get(config.theme.language | default("zh", true), "zh-CN") %}

<script src="https://giscus.app/client.js" data-repo="RapidAI/RapidOCR" data-repo-id="MDEwOlJlcG9zaXRvcnkzMjY2MTA3NTc="
    data-category="Q&A" data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyMzEzMzAw" data-mapping="title" data-strict="0"
    data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top"
    data-theme="https://cdn.jsdelivr.net/gh/RapidAI/RapidOCRDocs@main/docs/stylesheets/giscus-light.css"
    data-lang="{{ giscus_language }}" data-loading="lazy" crossorigin="anonymous" async>
    </script>

<!-- Synchronize Giscus theme with palette -->
<script>
    var giscusThemes = {
        light: "https://cdn.jsdelivr.net/gh/RapidAI/RapidOCRDocs@main/docs/stylesheets/giscus-light.css",
        dark: "https://cdn.jsdelivr.net/gh/RapidAI/RapidOCRDocs@main/docs/stylesheets/giscus-dark.css"
    }
    var giscus = document.querySelector("script[src*=giscus]")

    function getGiscusTheme() {
        var palette = __md_get("__palette")
        return palette && typeof palette.color === "object" && palette.color.scheme === "slate"
            ? giscusThemes.dark
            : giscusThemes.light
    }

    // Set palette on initial load
    if (giscus) {
        // Instruct Giscus to set theme
        giscus.setAttribute("data-theme", getGiscusTheme())
    }

    // Register event handlers after documented loaded
    document.addEventListener("DOMContentLoaded", function () {
        var ref = document.querySelector("[data-md-component=palette]")
        if (!ref) return

        ref.addEventListener("change", function () {
            var frame = document.querySelector(".giscus-frame")
            if (frame && frame.contentWindow) {
                // Instruct Giscus to change theme
                frame.contentWindow.postMessage(
                    { giscus: { setConfig: { theme: getGiscusTheme() } } },
                    "https://giscus.app"
                )
            }
        })
    })
</script>
{% endif %}